.ml {
  margin-left: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}

.mt {
  margin-top: 0.5rem;
}

.mb {
  margin-bottom: 0.5rem !important;
}

.is-wide {
  width: 100%;
}

.text-center {
  text-align: center;
}

.phatt-padding {
  padding-bottom: 3rem;
}

.mauto {
  margin-left: auto;
  margin-right: auto;
}

.align-items-center {
  align-items: center;
}

.big-img-container {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-img-container::after {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  display: block;
  opacity: 0.5;
}

.big-img-start-game::after {
  background-image: url('/assets/goal.svg');
}

.big-img-blocked::after {
  background-image: url('/assets/blocked.svg');
}

.big-img-error::after {
  background-image: url('/assets/error.svg');
}

.big-img-start::after {
  background-image: url('/assets/start.svg');
}

.shadow {
  text-shadow: 0px 0px 4px rgba(150, 150, 150, 0.75);
}

/* Fatten up timeline lines */
.timeline-item::before {
  width: 3px !important;
  left: -1.5px !important;
}
