<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" .}}Foostrack{{ end }}</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><a href="/startgame">Start Game</a></li>
          {{ if eq (index .general "isloggedin") "true" }}
            <li><a>{{ .general.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          {{ else }}
            <li><a href="/login">Login</a></li>
          {{ end }}
        </ul>
      </div>
    </nav>

    <!-- page content -->
    <div class="uk-container">{{ block "content" .}}Default Body.{{ end }}</div>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
  </body>
</html>
