{{ define "content" }}
<h1 class="title is-1">Game {{ .id }}</h1>

<!-- If the game has started -->
{{ if .gameState.Started }}
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Blue</p>
      <p class="title">{{ .gameState.BlueGoals }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Red</p>
      <p class="title">{{ .gameState.RedGoals }}</p>
    </div>
  </div>
</nav>

{{ if not .gameState.Ended }}
<h4 class="title is-4">Mark Goal</h4>

<!-- Blue Team -->
<div class="buttons has-addons">
  <!-- Forward -->
  <a href="/game/{{ .id }}/goal?team=blue&position=forward" class="button is-info">{{ .gameState.BlueForward.Username }}</a>

  <!-- Goalie -->
  <a href="/game/{{ .id }}/goal?team=blue&position=goalie" class="button is-info is-outlined">{{ .gameState.BlueGoalie.Username }}</a>
</div>

<!-- Red Team -->
<div class="buttons has-addons">
  <!-- Forward -->
  <a href="/game/{{ .id }}/goal?team=red&position=forward" class="button is-danger">{{ .gameState.RedForward.Username }}</a>

  <!-- Goalie -->
  <a href="/game/{{ .id }}/goal?team=red&position=goalie" class="button is-danger is-outlined">{{ .gameState.RedGoalie.Username }}</a>
</div>

<!-- End Game -->
<h4 class="title is-4">End Game</h4>
<a href="/game/{{ .id }}/end" class="button is-danger is-large is-fullwidth">
  End Game
</a>
{{ end }}

<!-- If the game has not started -->
{{ else }}

<h3 class="title is-3">The game has not started yet!</h3>
<a href="/game/{{ .id }}/start" class="button is-danger is-large is-fullwidth">
  Start
</a>

{{ end }}

{{ end }}
