{{ define "content" }}

<h2 class="title is-2">Games</h2>

{{ range.games }}
<a href="/game/{{ .ID }}" class="box">
  <div class="columns">
    <div class="column">
      {{ if .Ended }}
      <h4 class="title is-4 mb is-three-quarters">Finished {{ call $.formatTime .CreatedAt }}</h4>
      {{ else if .Started }}
      <h4 class="title is-4 mb is-three-quarters">Started {{ call $.formatTime .CreatedAt }}</h4>
      {{ else }}
      <h4 class="title is-4 mb is-three-quarters">Created {{ call $.formatTime .CreatedAt }}</h4>
      {{ end }}
      <span
        ><span class="has-text-link">Caleb Hiebert, Caleb Hiebert</span>,
        <span class="has-text-danger">Caleb Hiebert, Caleb Hiebert</span></span
      >
    </div>
    <div class="column is-one-quarter">
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Blue</p>
            <p class="title">{{ .BlueGoals }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Red</p>
            <p class="title">{{ .RedGoals }}</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</a>
{{ end }}
{{ end }}
