{{ define "content" }}
<h1 class="title is-1 text-center">Game {{ .id }}</h1>

<!-- If the game has started -->
{{ if .gameState.Started }}

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Blue</p>
      <p class="title" id="blue-goals">{{ .gameState.BlueGoals }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Red</p>
      <p class="title" id="red-goals">{{ .gameState.RedGoals }}</p>
    </div>
  </div>
</nav>

{{ if not .gameState.Ended }}
{{ if not .gameState.GoalLimitReached }}
<h4 class="title is-4">Mark Goal</h4>

<!-- Goal Buttons -->
<div class="columns is-multiline">

  <!-- Blue Team -->
  <!-- Forward -->
  <form class="column is-half-tablet" action="/game/{{ .id }}/goal" method="POST">
    <input type="hidden" name="team" value="blue">
    <input type="hidden" name="position" value="forward">
    <button type="submit" class="button is-info is-fullwidth">{{ .gameState.BlueForward.Username }}</button>
  </form>

  <!-- Goalie -->
  <form class="column is-half-tablet" action="/game/{{ .id }}/goal" method="POST">
    <input type="hidden" name="team" value="blue">
    <input type="hidden" name="position" value="goalie">
    <button type="submit" class="button is-info is-outlined is-fullwidth">{{ .gameState.BlueGoalie.Username }}</button>
  </form>

  <!-- Red Team -->
  <!-- Forward -->
  <form class="column is-half-tablet" action="/game/{{ .id }}/goal" method="POST">
    <input type="hidden" name="team" value="red">
    <input type="hidden" name="position" value="forward">
    <button type="submit" class="button is-danger is-fullwidth">{{ .gameState.RedForward.Username }}</button>
  </form>

  <!-- Goalie -->
  <form class="column is-half-tablet" action="/game/{{ .id }}/goal" method="POST">
    <input type="hidden" name="team" value="red">
    <input type="hidden" name="position" value="goalie">
    <button type="submit" class="button is-danger is-outlined is-fullwidth">{{ .gameState.RedGoalie.Username }}</button>
  </form>

  <!-- Dead Ball -->
  <form action="/game/{{ .id }}/deadball" class="column is-half-tablet" method="POST">
    <button type="submit" class="button is-primary is-fullwidth">Dead Ball</button>
  </form>

  <!-- Out of Bounds -->
  <form action="/game/{{ .id }}/oob" class="column is-half-tablet" method="POST">
    <button type="submit" class="button is-primary is-fullwidth">Out of Bounds</button>
  </form>

  <!-- Swap Blue Team Positions -->
  <form action="/game/{{ .id }}/swap" class="column is-half-tablet" method="POST">
    <input type="hidden" name="team" value="blue">
    <button type="submit" class="button is-outlined is-info is-fullwidth">Swap Blue Players</button>
  </form>

  <!-- Swap Red Team Positions -->
  <form action="/game/{{ .id }}/swap" class="column is-half-tablet" method="POST">
    <input type="hidden" name="team" value="red">
    <button type="submit" class="button is-danger is-outlined is-fullwidth">Swap Red Players</button>
  </form>
</div>

<!-- end if goal limit not reached -->
{{ end }}

{{ if .gameState.IsMatchPoint }}
<article class="message is-info">
  <div class="message-body">
    <span class="title is-5">Match Point!</span>
  </div>
</article>
{{ end }}

<!-- End Game -->
<h4 class="title is-4 mt">End Game</h4>
<form method="POST" action="/game/{{ .id }}/end">
  <button type="submit" class="button is-danger is-fullwidth">End Game</button>
</form>


<!-- end If game not ended -->
{{ end }}

<!-- Timeline -->
<h4 class="title is-4 mt text-center">History</h4>
<div class="timeline is-centered">
  <header class="timeline-header">
    <span class="tag is-medium is-primary">Start</span>
  </header>
  {{ range.events }}

  <!-- Game Start -->
  {{ if eq .EventType "start" }}
  <header class="timeline-header">
    <span class="tag is-info">Game Start</span>
  </header>

  <!-- Game End -->
  {{ else if eq .EventType "end" }}
  <header class="timeline-header">
    <span class="tag is-primary">Game End</span>
  </header>

  <!-- Out of Bounds -->
  {{ else if eq .EventType "oob" }}
  <div class="timeline-item">
    <div class="timeline-marker is-primary">
    </div>
    <div class="timeline-content">
      <p class="heading">Out of Bounds</p>
    </div>
  </div>

  <!-- Dead Ball -->
  {{ else if eq .EventType "dead" }}
  <div class="timeline-item">
    <div class="timeline-marker is-primary"></div>
    <div class="timeline-content">
      <p class="heading">Dead Ball</p>
    </div>
  </div>

  <!-- Else if event type start -->
  {{ else }}
  <div class="timeline-item {{ if eq .Team "blue" }}is-info{{ else if eq .Team "red" }}is-danger{{ end }}"
    style="padding-bottom: 0.5rem">
    {{ if eq .EventType "goal" }}
    <div class="timeline-marker is-image is-32x32">
      {{ if eq .Team "blue" }}
      <img src="/assets/soccer_ball_blue.svg" alt="Blue Team Scored">
      {{ else if eq .Team "red" }}
      <img src="/assets/soccer_ball_red.svg" alt="Red Team Scored">
      {{ end }}
    </div>
    {{ else if eq .EventType "ptp" }}
    <div class="timeline-marker is-image is-32x32">
      <img src="/assets/enter.svg" alt="Joined">
    </div>
    {{ else }}
    <div class="timeline-marker is-primary"></div>
    {{ end }}
    <div class="timeline-content">
      <!-- Player Take Position -->
      {{ if eq .EventType "ptp" }}
      <p class="heading">
        {{ if eq .Team "blue" }}Blue{{ else }}Red{{ end }}
        {{ if eq .Position "forward" }}Forward{{ else }}Goalie{{ end }} Joined
      </p>
      <div class="is-flex align-items-center">
        <figure class="mr image is-16x16"><img src="{{ .User.PictureURL }}" alt="User Avatar" class="is-rounded" />
        </figure>
        <span>{{ .User.Username }}</span>
      </div>

      <!-- Goal -->
      {{ else if eq .EventType "goal" }}
      <p class="heading">{{ if eq .Team "blue" }}Blue{{ else }}Red{{ end }} Team Scored</p>
      <div class="is-flex align-items-center">
        <figure class="mr image is-16x16"><img src="{{ .User.PictureURL }}" alt="User Avatar" class="is-rounded" />
        </figure>
        <span>{{ .User.Username }}</span>
      </div>

      <!-- Start -->
      {{ else if eq .EventType "start" }}
      <p class="heading">Game Started</p>

      <!-- End -->
      {{ else if eq .EventType "end" }}
      <p class="heading">Game Finished</p>
      {{ end }}
    </div>
  </div>

  <!-- End if event type start -->
  {{ end }}

  <!-- End range events -->
  {{ end }}
</div>
<div class="phatt-padding"></div>

<!-- else if not game started -->
{{ else }}

<h3 class="title is-3 text-center">The game has not started yet!</h3>
<form action="/game/{{ .id }}/start" method="POST">
  <button class="button is-danger is-large is-fullwidth">
    Start
  </button>
</form>
<!-- end if game started -->
{{ end }}

<script>
  var gameId = {{ .id }};
  var eventCount = {{ .eventCount }};
  var gameEnded = {{ .gameState.Ended }};
</script>
<script src="/assets/game.js"></script>

<!-- end define content -->
{{ end }}