{{ define "content" }}

<h2 class="title is-2">Games</h2>

<div class="box">
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 mb is-three-quarters">May 4</h4>
      <span
        ><span class="has-text-link">Caleb Hiebert, Caleb Hiebert</span>,
        <span class="has-text-danger">Caleb Hiebert, Caleb Hiebert</span></span
      >
    </div>
    <div class="column is-one-quarter">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Blue</p>
            <p class="title">3</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Red</p>
            <p class="title">10</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
{{ end }}
