{{ define "title"}}Start Game{{ end }}

{{ define "content" }}

<!-- Errors -->
{{ range .errors }}
<div class="notification is-danger">
  {{ . }}
</div>
{{ end }}

<form method="POST">
  <fieldset>
    <h2 class="title is-2">
      Start Game
    </h2>

    <!-- Blue Goalie -->
    <div class="field">
      <label for="blue-goalie" class="label">Blue Goalie</label>

      <div class="control">
        <div class="select is-fullwidth">
          <select name="blue_goalie" id="blue-goalie" class="select" required>
            <option disabled selected>Blue Goalie</option>
            <!-- {{ range.users }} -->
            <option value="{{ .ID }}">{{ .Username }}</option>
            <!-- {{ end }} -->
          </select>
        </div>
      </div>
    </div>

    <!-- Blue Forward -->
    <div class="field">
      <label for="blue-forward" class="label">Blue Forward</label>

      <div class="control">
        <div class="select is-fullwidth">
          <select name="blue_forward" id="blue-forward" class="select" required>
            <option disabled selected>Blue Forward</option>
            <!-- {{ range.users }} -->
            <option value="{{ .ID }}">{{ .Username }}</option>
            <!-- {{ end }} -->
          </select>
        </div>
      </div>
    </div>

    <!-- Red Goalie -->
    <div class="field">
      <label for="red-goalie" class="label">Red Goalie</label>

      <div class="control">
        <div class="select is-fullwidth">
          <select name="red_goalie" id="red-goalie" class="select" required>
            <option disabled selected>Red Goalie</option>
            <!-- {{ range.users }} -->
            <option value="{{ .ID }}">{{ .Username }}</option>
            <!-- {{ end }} -->
          </select>
        </div>
      </div>
    </div>

    <!-- Red Forward -->
    <div class="field">
      <label for="red-forward" class="label">Red Forward</label>

      <div class="control">
        <div class="select is-fullwidth">
          <select name="red_forward" id="red-forward" class="select" required>
            <option disabled selected>Red Forward</option>
            <!-- {{ range.users }} -->
            <option value="{{ .ID }}">{{ .Username }}</option>
            <!-- {{ end }} -->
          </select>
        </div>
      </div>
    </div>
  </fieldset>

  <button class="button is-primary mt" type="submit">Start Game</button>
</form>

{{ end }}