{{ define "content" }}

{{ range .errors }}
<div class="notification is-danger">
    {{ . }}
</div>
{{ end }}

<form
        {{ if .editing -}}
            action="/teams/{{ .team.ID }}/edit"
        {{- else -}}
            action="/team/create"
        {{- end -}}
        method="POST">
    <nav class="level">
        <div class="level-left">
            {{ if .editing }}
                <h2 class="title is-2">Edit Team</h2>
            {{ else }}
                <h2 class="title is-2">Create Team</h2>
            {{ end }}
        </div>
        <div class="level-right">
            <div class="buttons">
                <a href="/teams" class="button">Cancel</a>
                <button type="submit" class="button is-primary">Save</button>
            </div>
        </div>
    </nav>

    <!-- Team Name -->
    <div class="field">
        <label for="name" class="label">Team Name</label>
        <div class="control">
            <input
                    id="name"
                    required
                    placeholder="Team Name"
                    type="text"
                    class="input"
                    name="name"
                    {{ if .editing }}
                    value="{{ .team.Name }}"
                    {{ end }}
            >
        </div>
    </div>

    <!-- Team Members -->
    <div class="field">
        <label for="members" class="label">Members</label>
        <div class="select is-multiple is-fullwidth">
            <select name="members" id="members" multiple>
                {{ range .users }}
                <option
                        value="{{ .ID }}"
                        {{ if and $.editing (call $.isMember .) }}
                            selected="true"
                        {{ end }}
                >{{ .Username }}</option>
                {{ end }}
            </select>
        </div>
    </div>
</form>

{{ end }}